  
  /* Botão "Entrar" */
  .btn-login {
    display: flex;
    align-items: center;
    background-color: white;
    border-color: #2fd151; /* Borda verde */
    color: #2fd151;
/* quando passo o mouse por cima, as cores invertem */
    &:hover {
      background-color: #2fd151;
      color: white;
      border-color: black;
    }
  }
  
  .btn-login img {
    width: 20px; /* Tamanho da imagem */
    height: 20px;
    border-radius: 50%; /* Deixa a imagem redonda */
    margin-right: 8px; /* Espaço entre a imagem e o texto */
  }
  
  /* Estilo para o botão composto (imagem + texto) */
.btn-composto {
  background: none;
  height: 50px;
  width: 50px;
  border: none;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {background-color: #2fd151;}
}

.btn-composto-img {
  width: 25px; /* Ajusta o tamanho da imagem */
  height: 20px; /* Ajusta o tamanho da imagem */
  margin-bottom: 5px; /* Espaço entre a imagem e o texto */
}

.btn-composto-text {
  display: block;
  font-size: 12px; /* Texto menor */
  color: #333; /* Cor do texto */
  font-weight: normal;
}

/* Logo JogaJunto */
.logo-jogajunto {
  height: 70%; /* Ajuste o tamanho da logo */
  width: 70%; /* Ajuste o tamanho da logo */
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mx-auto {
  display: flex;
  flex-direction: row;
}

.mr-auto {
  justify-items: center;
}
