
.confirmacao-email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.foto-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.foto-preview {
  width: 150px; /* Define a largura */
  height: 150px; /* Define a altura (igual à largura para ser circular) */
  border-radius: 50%; /* Faz o elemento ser redondo */
  background-color: #e9ecef; /* Define uma cor de fundo para o círculo */
  display: flex; /* Torna o contêiner flexível */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  overflow: hidden; /* Garante que o conteúdo não ultrapasse o círculo */
  cursor: pointer; /* Mostra o cursor de mão ao passar o mouse */
}


.foto-placeholder {
  font-size: 2rem;
  color: #6c757d;
}

.foto-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço do círculo */
}

.formulario {
  flex: 1; /* Faz o formulário ocupar o restante do espaço */
}

form input {
  width: 400px;
  padding: 10px;
  height: 372;
  top: 366px;
  left: 193px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}